@import "../../../style/variable";

.challenge {
  padding-top: 15px;
  height: 100%;
  .intro-container {
    height: ~"calc(100% - 49px)";
    overflow: auto;
    > .pc-homework {
      position: relative;
      left: 50%;
      margin-left: -135px;
      border: 1px solid @color_theme;
      width: 270px;
      height: 190px;
      margin-top: 25px;
      text-align: center;
      > .guide {
        margin-top: 51px;
        font-size: 20px;
        line-height: 20px;
        color: @color_context;
      }
      > .url {
        margin-top: 49px;
        font-size: 20px;
        line-height: 20px;
        color: @color_context;
      }
    }
  }
}