@import "../../style/variable";

.plan-intro {
  padding-top: 15px;
  height: 100%;
  > .info-title {
    font-size: 13px;
    color: @color_context;
    margin-bottom: 30px;
  }
  > .sub-info {
    font-size: 16px;
    color: @color_context;
    > .number {
      color: @color_theme;
      font-size: 20px;
      margin-right: 5px;
    }
    & + & {
      margin-top: 20px;
    }
  }
  > .info {
    font-size: 13px;
    color: @color_context;
    margin-bottom: 20px;
    > p {
      line-height: 24px;
      & + & {
        margin-top: 30px;
      }
    }
  }
}