@import "../../style/variable";

.plan-main {
  padding-top: 10px;
  height: 100%;
  > .list {
    margin-bottom: 10px;
  }
  .practice-card {
    background-color: white;
    height: 75px;
    border-radius: 5px;
    > .header {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      margin: 0 5px 0 10px;
      img {
        display: block;
        margin-top: 12px;
      }
    }
    > .body {
      display: inline-block;
      width: ~"calc(100% - 65px - 42px)";
      vertical-align: middle;
      height: 100%;
      > .title {
        margin-top: 18px;
        margin-bottom: 11px;
        font-size: 16px;
        color: @color_context;
        line-height: 16px;
      }
      > .sub-title {
        font-size: 13px;
        line-height: 13px;
        color: #999999;
      }
    }
    > .footer {
      display: inline-block;
      vertical-align: middle;
      width: 32px;
      height: 100%;
      margin-right: 10px;
      img {
        display: block;
        margin-top: 12px;
        float: right;
      }
    }
  }
  .practice-card + .practice-card {
    margin-top: 10px;
  }
}

.plan-guide {
  position: absolute;
  top: 25px;
  left: 20px;
  > .section-title {
    font-size: 17px;
    color: @color_context;
    margin-bottom: 45px;
    line-height: 17px;
  }
  > .section {
    color: #666666;
    font-size: 11px;
    line-height: 11px;
    margin-bottom: 10px;
    > label {
      color: #999999;
    }
  }
}