@import "../../style/variable";

.plan-main {
  padding-top: 10px;
  height: ~"calc(100% - 10px)";
  > .list {
    margin-bottom: 10px;
  }
  .practice-card {
    background-color: white;
    height: 75px;
    border-radius: 5px;
    > .header {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      margin: 0 5px 0 10px;
      img {
        display: block;
        margin-top: 12px;
      }
    }
    > .body {
      display: inline-block;
      width: ~"calc(100% - 65px - 42px)";
      vertical-align: middle;
      height: 100%;
      > .title {
        margin-top: 18px;
        margin-bottom: 11px;
        font-size: 16px;
        color: @color_context;
        line-height: 16px;
      }
      > .sub-title {
        font-size: 13px;
        line-height: 13px;
        color: #999999;
      }
    }
    > .footer {
      display: inline-block;
      vertical-align: middle;
      width: 32px;
      height: 100%;
      margin-right: 10px;
      img {
        display: block;
        margin-top: 12px;
        float: right;
      }
    }
  }
  .practice-card + .practice-card {
    margin-top: 10px;
  }
}

.plan-guide {
  position: absolute;
  top: 25px;
  left: 20px;
  > .section-title {
    font-size: 17px;
    color: @color_context;
    margin-bottom: 45px;
    line-height: 17px;
  }
  > .section {
    color: #666666;
    font-size: 11px;
    line-height: 11px;
    margin-bottom: 10px;
    > label {
      color: #999999;
    }
  }
}

.problem-review{
  position: absolute;
  right:10px;
  margin-top:-31px;
  font-size:11px;
  width:65px;
  height:23px;
  background-color: @color_theme;
  color: #ffffff;
  text-align: center;
  line-height: 23px;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
  z-index: 10;
}

.modal-button-footer {
  display: block;
  position: inherit;
  font-size: 20px;
  width: 100%;
  height: @button_footer_height;
  text-align: center;
  line-height: @button_footer_height;
  background-color: @color_theme;
  border-radius: 0 0 25px 25px;
  color: white;
  &.complete {
    margin-top: 60px;
  }
  &.confirm {
    margin-top: 88px;
  }
  > .left {
    display: inline-block;
    width: ~"calc(50% - 1px)";
    border-right: 1px solid white;
    &.origin {
      background-color: @color_theme;
    }
    &.disabled {
      background-color: #cccccc;
    }
  }
  > .right {
    display: inline-block;
    width: 50%;
    border-radius: 0 30px 0 0;
    &.disabled {
      background-color: #cccccc;
    }
  }
}
